:root {

    --padding-x: 100px;
}

/******* 
reset 
*******/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Open Sans", sans-serif;
}

/******* 
common 
*******/

li {

    list-style-type: none;
}

/******* 
hover
*******/

/* main */
.header-box ul a:hover::after {

    content: '';
    display: block;
    background-color: #0282F9;
    height: 5px;
    width: 100%;
    position: absolute;
}

.header-box ul a:hover {

    color: #0282F9;
}

/******* 
header 
*******/

.header-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px var(--padding-x);
}

.header-box ul {

    display: flex;
    gap: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-box ul li {

    position: relative;
}

.header-box ul a {

    text-decoration: none;
    color: #000;
    font-size: 0.75rem;
}

/******* 
main 
*******/

main {

    background-color: #1C1C1C;
}

.content-box {

    padding: 70px var(--padding-x);
}

.content-box p {

    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
}

/******* 
footer 
*******/

footer {

    background-image: url(./assets/footer-bg.jpg);
    background-size: cover;
}

/* top footer */

.top-footer {

    display: flex;
    gap: 40px;
    padding: 50px var(--padding-x);
    position: relative;
}

.top-footer ul li {

    margin-bottom: 5px;
}

.top-footer ul a {

    color: #959595;
    text-decoration: none;
}

.first-list {

    margin-bottom: 20px;
}

.top-footer ul .title-list {

    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-footer img {

    position: absolute;
    right: var(--padding-x);
    bottom: 50%;
    translate: 0 50%;
    z-index: 0;
}

/* bottom footer */

.bottom-footer {

    background-color: #303030;
    padding: 30px var(--padding-x);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.footer-btn {

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #0282F9;
    padding: 15px 10px;
}

