/******* 
reset 
*******/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Open Sans", sans-serif;
}

/******* 
common 
*******/

li {

    list-style-type: none;
}

/******* 
hover
*******/

/* main */
.header-box ul a:hover::after {

    content: '';
    display: block;
    background-color: #0282F9;
    height: 5px;
    width: 100%;
    position: absolute;
}

.header-box ul a:hover {

    color: #0282F9;
}

/******* 
header 
*******/
header {

    padding: 0 100px;
}

.header-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.header-box ul {

    display: flex;
    gap: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-box ul li {

    position: relative;
}

.header-box ul a {

    text-decoration: none;
    color: #000;
    font-size: 0.75rem;
}

/******* 
main 
*******/

main {

    background-color: #1C1C1C;
}

.content-box {

    padding: 100px;
}

.content-box p {

    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
}